.addDonation{
    display:flex;
    justify-content:center;
    padding:20px;
}

.add-card{

    width:100%;
    max-width:700px;

    background:white;

    border-radius:15px;

    padding:30px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.add-card h2{

    text-align:center;

    color:#16a34a;

    margin-bottom:30px;

}

.add-card form{

    display:flex;

    flex-direction:column;

    gap:18px;

}

.add-card input,
.add-card select,
.add-card textarea{

    padding:14px;

    border:1px solid #ddd;

    border-radius:10px;

    font-size:15px;

    outline:none;

}

.add-card input:focus,
.add-card select:focus,
.add-card textarea:focus{

    border:1px solid #16a34a;

}

.add-card textarea{

    resize:none;

}

.add-card button{

    background:#16a34a;

    color:white;

    border:none;

    padding:15px;

    border-radius:10px;

    cursor:pointer;

    font-size:17px;

    font-weight:600;

}

.add-card button:hover{

    background:#15803d;

}