.history-container{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.history-container h2{

color:#16a34a;

margin-bottom:25px;

}

table{

width:100%;

border-collapse:collapse;

}

table th{

background:#16a34a;

color:white;

padding:14px;

}

table td{

padding:14px;

border-bottom:1px solid #ddd;

}

table tr:hover{

background:#f8f8f8;

}

.completed{

background:#16a34a;

color:white;

padding:5px 14px;

border-radius:20px;

font-size:14px;

}

.empty{

padding:40px;

text-align:center;

font-size:18px;

color:gray;

}