.request-table{

width:100%;

border-collapse:collapse;

margin-top:20px;

background:white;

border-radius:10px;

overflow:hidden;

}

.request-table th{

background:#16a34a;

color:white;

padding:15px;

}

.request-table td{

padding:15px;

border-bottom:1px solid #ddd;

text-align:center;

}

.pickup-btn{

background:#16a34a;

color:white;

border:none;

padding:8px 16px;

border-radius:8px;

cursor:pointer;

font-weight:bold;

}

.pickup-btn:hover{

background:#15803d;

}