.settings-container{

width:100%;
margin-top:60px;

}

/* Ensure background switches when theme changes */
.light-theme .settings-container{

background:#f4f7fb;

color:#222;

}

.dark-theme .settings-container{

background:#0f172a;

color:#fff;

}


.settings-container h2{

color:#16a34a;

margin-bottom:20px;

}

.settings-card{

background:white;

padding:25px;
margin-top:10px;

margin-bottom:0px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.settings-card h3{

margin-bottom:15px;

color:#16a34a;

}

.settings-card input[type=password]{

width:100%;

padding:12px;

margin-bottom:15px;

border:1px solid #ddd;

border-radius:8px;

font-size:15px;

}

.settings-card label{

display:block;

margin:15px 0;

font-size:16px;

}

.settings-card input[type=checkbox]{

margin-right:10px;

}

.save-btn{

background:#16a34a;

color:white;

border:none;

padding:12px 22px;

border-radius:8px;

cursor:pointer;

font-size:15px;

}

.save-btn:hover{

background:#15803d;

}

.logout-setting{

background:#dc2626;

color:white;

border:none;

padding:12px 25px;

border-radius:8px;

cursor:pointer;

font-size:16px;

}

.logout-setting:hover{

background:#b91c1c;

}
.theme-option{

display:flex;

align-items:center;

padding:12px 0;

font-size:17px;

}

.theme-option label{

cursor:pointer;

display:flex;

align-items:center;

gap:12px;

font-weight:500;

}

.theme-option input{

width:18px;

height:18px;

cursor:pointer;

}
.light-theme{

background:#f4f7fb;

color:#222;

}

.light-theme .navbar{

background:white;

color:#222;

}

.light-theme .sidebar{

background:white;

}

.light-theme .content{

background:#f4f7fb;

}

.light-theme .settings-card,

.light-theme .card,

.light-theme .summary-card,

.light-theme .table-box,

.light-theme .chart-box{

background:white;

color:#222;

}

/* Allow settings page text to be readable in dark mode */
.dark-theme .settings-container{
    color:#fff;
}

.dark-theme{

background:#0f172a;

color:white;

}

.dark-theme .navbar{

background:#1e293b;

color:white;

}

.dark-theme .sidebar{

background:#111827;

}

.dark-theme .sidebar li{

color:#e5e7eb;

}

.dark-theme .sidebar li:hover{

background:#16a34a;

}

.dark-theme .content{

background:#0f172a;

}

.dark-theme .settings-card,

.dark-theme .summary-card,

.dark-theme .card,

.dark-theme .chart-box,

.dark-theme .table-box{

background:#1e293b;

color:white;

}

.dark-theme table th{

background:#16a34a;

}

.dark-theme table td{

color:white;

border-bottom:1px solid #374151;

}

.dark-theme input,

.dark-theme select,

.dark-theme textarea{

background:#334155;

color:white;

border:1px solid #475569;

}

.dark-theme label{

color:white;

}